*{margin:0;padding:0;}
html,body{font-size:16px;}
body{-webkit-font-smoothing: antialiased;background:#fff;max-width:700px;margin:0 auto;}
html,#body{height:100%;}
@media screen and (min-width:370px) and (max-width:410px){
  html{
    font-size:18px;
  }
}
@media screen and (min-width:411px){
  html{
    font-size:20px;
  }
}

/* 顶部导航 */

.head{
  height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem;
    background: #e74f7b;
    color: #fff;
}

/* 底部菜单导航 */

.foot{width: 100%;position:fixed;left:0;bottom:0;text-align: center;z-index:999;background:#fff;border-top:1px solid #eae6e6;}
.foot a{color:#999;text-decoration: none;width:25%;display:inline-block;background:#fff;height:4rem}
.foot a:hover{background:#efefef}
.foot a img{height:2rem;margin:.3rem 0;}
.foot a i{font-style:normal;display:block;font-size:1rem;}


a{-webkit-tap-highlight-color:transparent;text-decoration:none;color:#000;}
input[type='submit']{-webkit-appearance:none;}
i{font-style:normal;}

.content{margin:0 auto 60px;}
.ul{list-style-type: none;overflow:hidden;}
.ul .li_detial{position:relative;background:#fff;}
.ul .li_detial_a{display:block;}
.ul li .touxiang{width:100%;max-height:1500px;}
.ul li .right{position: absolute;left: 0;bottom: 0;width: 100%;padding: 10px;background:linear-gradient(rgba(255,255,255,.3),rgba(0,0,0,.8));}
.ul li .nickname{font-weight:bold;color:#dbb76c;font-size:1.2em;padding-bottom:6px;border-bottom:1px dashed #efefef;height:32px;line-height:32px}
.ul li .time{color:#ccc;height:32px;line-height:32px;padding-right:10px}
.ul li .other{color:#efefef;}
.ul li .new_vip{height:24px;vertical-align:middle;margin-left:2px}
.page{text-align: center;}
.pagea{color:#888;width:25%;height:40px;margin:10px 4px;border-radius:4px;font-size:1.2rem;box-sizing:border-box;border:1px solid #ccc;display:inline-block;line-height:40px;text-align: center;text-decoration: none}

.big_img{
    display: none;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 99999;
}
.zhe{width:100%;height:100%;background:rgb(0,0,0);position:fixed;left:0;top:0;z-index:9999}

/* detial.php */
.basic{background:#fff}



/* mine.html */
.wrap{max-width:700px;margin:0 auto 60px;}
.info{background:linear-gradient(#e74f7b,#e67171)}
.info .realname{
    font-size:1.6rem;
    display:block;
    color:#fff;
    margin-top:10px;
}
.info .vip{
height:40px;position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,.9);}
.info .a-upload{
  position: absolute;
  bottom:2px;
  right: 0;
  display: inline-block;
  background: rgba(255,255,255,.8);
  padding:4px 6px;
  overflow: hidden;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.info .a-upload_text img{
  height:16px;
  vertical-align:text-bottom;
  padding-right:4px
}
.info .change_touxiang{
    position: absolute;
    font-size:6rem;
    right: 0;
    top: 0;
    opacity: 0;
}
.info .touxiang_submit{
  display:none;
    }
.like_num{width:100%;height:4rem;background:#c36464;}
.like_num .ilike,.belike{float: left;width:50%;text-align:center;line-height:2rem;color:#fff;box-sizing:border-box;}
.like_num .belike{border-left:1px solid #e4b2b2;}
.like_num a{color:#fff}
.cate{-webkit-user-select:none;display:block;font-size:1rem;background:#fff;margin-left:.8rem;height:3rem;line-height:3rem;}
.cate i{color:#333;}
.cate:after{ content: ''; display:block;height:1px; background-color:#757575; -webkit-transform: scaleY(0.2); transform: scaleY(0.2);}
.wholikei:after{background-color:#f7f7f7}
.cate>img{height:1.8rem;vertical-align: middle;margin:0 .6rem}
.cate .cate_span{float: right;height:3rem;line-height:3rem;margin-right:2rem;}
.cate .cate_arrow{height:1rem;}
.photos{
    padding:1rem;
    position: relative;
    text-align: center;
}
#uploader-demo{
  position: relative;
  display:inline-block;
}
.photos form{display: block;}
.break{height:12px;background:#f7f7f7;}
#fileList{width:250px;display: inline-block;background:#fff;  border:2px solid #fff;
}
#fileList img{width:inherit;height: inherit;display:block;}
#file_upload{position: absolute;top:15px;right:0;}
#like_detial,#who_like_detial{margin-left:20px;margin-top:10px}
#like_detial a,#who_like_detial a{margin-right:2px;display:inline-block;}
#like_detial img,#who_like_detial img{width:50px;height:50px;}



/* animate.css */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
}